.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin-top: -2.6rem;
}

.form input[type="text"] {
  flex: 1;
  background: var(--gray-500);
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 1.6rem;

  color: var(--gray-100);

  transition: all 100ms;
}

.form input[type="text"]:focus-within {
  outline: 1px solid var(--purple-700);
}

.form button[type="submit"] {
  background: var(--blue-700);
  color: var(--gray-100);
  border: none;
  outline: none;
  padding: 1.6rem;
  border-radius: 8px;
  cursor: pointer;

  line-height: 0;
  font-weight: 700;

  display: flex;
  align-items: center;
  gap: 0.8rem;

  transition: all 100ms;
}

.form button[type="submit"]:hover {
  background: var(--blue-500);
}
